.emacs.desktop
.emacs.desktop.lock
\#*
.#*
*~
*.csv
capps/precise_parallel_fp
*CMakeCache.txt
*.cmake
*/Makefile
capps/.idea
capps/*.o
capps/exblas/CMakeFiles/
capps/exblas/Makefile
capps/exblas/src/CMakeFiles/
capps/exblas/src/Makefile
capps/exblas/src/cpu/CMakeFiles/
capps/exblas/src/cpu/Makefile
capps/exblas/src/cpu/blas1/CMakeFiles/
capps/exblas/src/cpu/blas1/Makefile
capps/exblas/include/config.h
capps/CMakeFiles