.emacs.desktop
.emacs.desktop.lock
\#*
.#*
*~
*.csv
capps/precise_parallel_fp
*CMakeCache.txt
*.cmake
*/Makefile
.idea
capps/.idea
capps/*.o
capps/exblas/CMakeFiles/
capps/exblas/Makefile
capps/exblas/src/CMakeFiles/
capps/exblas/src/Makefile
capps/exblas/src/cpu/CMakeFiles/
capps/exblas/src/cpu/Makefile
capps/exblas/src/cpu/blas1/CMakeFiles/
capps/exblas/src/cpu/blas1/Makefile
capps/exblas/include/config.h
capps/CMakeFiles
capps/exblas/Testing/
capps/exblas/include/ExDOT.Launcher.hpp
capps/exblas/include/ExGEMM.Launcher.hpp
capps/exblas/include/ExSUM.Launcher.hpp
capps/exblas/include/cl/
capps/exblas/include/common.gpu.hpp
capps/exblas/install_manifest.txt
capps/exblas/lib/
capps/exblas/src/gpu/CMakeFiles/
capps/exblas/src/gpu/Makefile
capps/exblas/src/gpu/blas1/CMakeFiles/
capps/exblas/src/gpu/blas1/Makefile
capps/exblas/src/gpu/blas1/test.exdot
capps/exblas/src/gpu/blas1/test.exsum
capps/exblas/src/gpu/blas2/CMakeFiles/
capps/exblas/src/gpu/blas2/Makefile
capps/exblas/src/gpu/blas2/test.exgemv
capps/exblas/src/gpu/blas2/test.extrsv
capps/exblas/src/gpu/blas3/CMakeFiles/
capps/exblas/src/gpu/blas3/Makefile
capps/exblas/src/gpu/blas3/test.exgemm
capps/exblas/src/gpu/libexblas.a
capps/exblas/tests/test.exdot
capps/exblas/tests/test.exgemm
capps/exblas/tests/test.exgemv
capps/exblas/tests/test.exsum
capps/exblas/include/config.h
capps/exblas/src/cpu/libexblas.a
capps/exblas/src/cpu/blas1/test.exsum
capps/bin
*.json
capps/install_manifest.txt
capps/src/Makefile
capps/src/CMakeFiles
